{% extends 'CarpeDeumBundle::admin.html.twig' %}

{% block title %}Places{% endblock %}

{% block body %}
    <div class="row">
        {{ pagerfanta(places) }}

        <table class="u-full-width">
            <tbody>
                {% for place in places %}
                    <tr>
                        <td><a href="{{ path('place_show', {id: place.id}) }}">{{ place.id }}</a></td>
                        <td>{{ place.name|raw }}</td>
                        <td>{{ place.zipcode }}</td>
                        <td>{{ place.city }}</td>
                        <td>{{ place.country }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ pagerfanta(places) }}
    </div>
{% endblock %}
