{% extends 'CarpeDeumBundle::admin.html.twig' %}

{% block title %}{{ place.name }} details{% endblock %}

{% block body %}
    <div class="row">
        <div class="four columns">
            <h1>{{ place.name }}</h1>
            <ul>
                <li>{{ place.address }}</li>
                <li>{{ place.telephone }}</li>
                <li><a href="{{ place.url }}">{{ place.url }}</a></li>
            </ul>
            <p>Histoire : {{ place.history }}</p>
            <p>Notes : {{ place.notes }}</p>
            <p>Messes : {{ place.eucharist }}</p>
        </div>
        <div class="four columns">
            <img width="264" height="264" src="//mediaauto.carpedeum.fr/300x300{{ place.pic }}">
        </div>
        <div class="four columns">
            <img src="https://api.mapbox.com/v4/mapbox.streets/pin-m-religious-christian+000({{ place.longitude }},{{ place.latitude }})/{{ place.longitude }},{{ place.latitude }},16/264x264.jpg70?access_token=pk.eyJ1IjoibGF1cmVudGdoIiwiYSI6IjdveXNkOEUifQ.F7qS-bIlU5-e23HB-SBDpA">
        </div>
    </div>
    <div class="row">
        <div class="one-half column">
            <table class="u-full-width">
                <thead>
                <tr>
                    <th>
                        <td colspan="2">Messes de semaine</td>
                    </th>
                </tr>
                </thead>
                {% for time in place.timetable if time.dayOfWeek < 6 %}
                    <tr>
                        <td>{{ constant('DAYS_OF_WEEK', time)[time.dayOfWeek] }}</td>
                        <td>{{ time.time|date('H:i') }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="one-half column">
            <table class="u-full-width">
                <th>
                    <td colspan="2">Week-end</td>
                </th>
                {% for time in place.timetable if time.dayOfWeek > 5 %}
                    <tr>
                        <td>{{ constant('DAYS_OF_WEEK', time)[time.dayOfWeek] }}</td>
                        <td>{{ time.time|date('H:i') }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
