<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - GeoMesse</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link href="{{ asset('vendor/css/vendor.min.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
<nav class="navbar">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="{{ path('home') }}">Geomesse</a></li>
            <li class="navbar-item"><a class="navbar-link" href="{{ path('place_index') }}">Eglises</a></li>
            <li class="navbar-item"><a class="navbar-link" href="{{ path('privacy') }}">Privacy policy</a></li>
        </ul>
    </div>
</nav>

<div class="{% block container %}container{% endblock %}">
    {% block flashes %}
        {% for name, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ name == 'error' ? 'danger' : name == 'notice' ? 'warning' : name }}">
                    <a class="close" data-dismiss="alert" href="#"><i class="fa fa-times"></i></a>
                    {{ flash|trans }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}

    {% block body %}{% endblock %}
</div>


{% block javascripts '' %}

</body>
</html>
